/*Hide checkbox contents of delete and edit annotations*/
.annotation-edit-element input.boolean-cell-editor-contents,
.annotation-delete-element input.boolean-cell-editor-contents{
	visibility: hidden;
	display: block;	
}

.annotation-edit-element {
	background: white url(img/pencil.png) no-repeat 50%/contain; 
    background-size: auto 70% ;
}

.annotation-delete-element {
	background: white url(img/minus.png) no-repeat 50%/contain; 
    background-size: auto 50% ;

}

.annotation-NotInUse,
.annotation-DeliveringPort,
.annotation-VisibleLocations{
    fill: #FE493F;
    background: #FE493F !important;
}

.annotation-InUse,
.annotation-LoadingPort{
    fill: #9E3869;
    background: #9E3869 !important;
}

.annotation-not-fulfilled{
    background: #ffc21b2c;
}

.annotation-highlight-cell {
    background: var(--secondary90Transparent);
}



