/*Colloring datapoints*/
.annotation-LoadPort{
    fill:#00A6F3;
    background: #00A6F3 !important;
}

.annotation-DelPort{
    fill: #ff3b30;
    background: #ff3b30 !important;    
}

.annotation-VesPort{
    fill:rgb(164, 255, 28);    
    background: rgb(164, 255, 28) !important;    
}

.annotation-LoadAndDelPort{
    fill: rgb(97, 51, 156);
    background: rgb(97, 51, 156) !important;
}

.annotation-VesAndLoadPort{
    fill:#FFC100;
    background: #FFC100 !important;
}

.annotation-VesAndDelPort{
    fill:rgb(120, 203, 161);
    background: rgb(120, 203, 161) !important;
}

.annotation-AllThreePorts{
    fill:rgb(0, 0, 0);
    background: rgb(0, 0, 0) !important;
}

/*Color the cargoes on gantt chart*/
.gantt-chart .chart-item{
    fill: #3D4368 !important;
    stroke: #3D4368!important;
    stroke-width: 0.5 !important;
}

/* Colloring the graph in results */
.annotation-p_TotalRouteCargoCost{
    fill: #b5c9a6 !important;
    fill-opacity: 0.75;
    stroke: black!important;
    stroke-width: 0.5 !important;
}

.annotation-p_TotalRouteLocationCost{
    fill: #b9cee3;
    fill-opacity: 0.75;
    stroke: black!important;
    stroke-width: 0.5 !important;
}

.annotation-p_TotalRouteIdleCost{
    fill: #f6cec8;
    fill-opacity: 0.75;
    stroke: black!important;
    stroke-width: 0.5 !important;
}

.annotation-p_TotalRouteMovementCost{
    fill: #f1d59e;
    fill-opacity: 0.75;
    stroke: black!important;
    stroke-width: 0.5 !important;
}






