/*Hide checkbox contents of delete and edit annotations*/
.annotation-edit-element input.boolean-cell-editor-contents,
.annotation-delete-element input.boolean-cell-editor-contents{
	visibility: hidden;
	display: block;	
}


.annotation-edit-element {
	background: white url(img/pencil.png) no-repeat 50%/contain; 
    background-size: auto 70% ;
}

.annotation-delete-element {
	background: white url(img/minus.png) no-repeat 50%/contain; 
    background-size: auto 50% ;

}





.annotation-NotInUse,
.annotation-VesselOrigingPort{
    fill: var(--primaryDark);
    background: var(--primaryDark) !important;
}

.annotation-InUse{
    fill: var(--primaryDarker);
    background: var(--primaryDarker) !important;
}

/*Colloring datapoints*/
.annotation-LoadingPort{
    fill:#1b9e77;
    background: #1b9e77 !important;
}

.annotation-DeliveringPort{
    fill: #d95f02;
    background: #d95f02 !important;    
}

.annotation-LoadingAndDeliveringPort{
    fill: #7570b3;
    background: #7570b3 !important;
}


.annotation-VesPort{
    fill:rgb(164, 255, 28);    
    background: rgb(164, 255, 28) !important;    
}



.annotation-VesAndLoadPort{
    fill:#FFC100;
    background: #FFC100 !important;
}

.annotation-VesAndDelPort{
    fill:rgb(120, 203, 161);
    background: rgb(120, 203, 161) !important;
}

.annotation-AllThreePorts{
    fill:rgb(0, 0, 0);
    background: rgb(0, 0, 0) !important;
}

/*Color the cargoes on gantt chart*/
.gantt-chart .chart-item{
    fill: #3D4368 !important;
    stroke: #3D4368!important;
    stroke-width: 0.5 !important;
}

/* Colloring the graph in results */
.annotation-p_TotalRouteCargoCost{
    fill: #b5c9a6 !important;
    fill-opacity: 0.75;
    stroke: black!important;
    stroke-width: 0.5 !important;
}

.annotation-p_TotalRouteLocationCost{
    fill: #b9cee3;
    fill-opacity: 0.75;
    stroke: black!important;
    stroke-width: 0.5 !important;
}

.annotation-p_TotalRouteIdleCost{
    fill: #f6cec8;
    fill-opacity: 0.75;
    stroke: black!important;
    stroke-width: 0.5 !important;
}

.annotation-p_TotalRouteMovementCost{
    fill: #f1d59e;
    fill-opacity: 0.75;
    stroke: black!important;
    stroke-width: 0.5 !important;
}






