.tag-table.focused .focus-cell {
  box-shadow: inset 0 0 0 1px var(--primaryDark);
}

.tag-table .cell.flag-number input{
  text-align: center;
}

/*Change checkbox color*/
input.boolean-cell-editor-contents {
  accent-color: var(--primaryDark);
}