backup/
log/
Mappings/Generated/
/data/DataForImport_test_v2 - Copy.xlsx
/data/two vessels ten cargos.data
/initial - alldata.txt
*.results
Schemas
solutions
/AIMMSProject/LoggerConfig.xml
/aimms-eo
/AimmsClientVesselScheduling/Libs/stopwatch-library
/AimmsClientVesselScheduling/RequestResponseFiles/*
/AimmsClientVesselScheduling/data/*
/AimmsClientVesselScheduling/oapitasks f_logfile.put
/Config/apikey.txt
/VesselScheduling.aimmspack
/AIMMSProject/data/VS_40Vessel_50Cargo_Results.xlsx
/AIMMSProject/data/VS_7Vessel_20Cargo_Results.xlsx
/bat files docker/02 fill licensing with keyless license.bat
/bat files docker/02 fill licensing with aimms network license.bat
/bat files docker/04 run bash container.bat
/bat files docker/04 run bash.bat
/licenses/keyless license
/licenses/aimms network license/licenses.cfg
/inputs
/outputs
/python-bridge/main.pyi
/AIMMSProject/data/VS_5Vessel_15Solution.xlsx
